.content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 22px;
  padding: 24px;
  background-color: #fff;
}
.col {
  flex: 1 1 100%;
  max-width: 100%;
}
.col-2 {
  flex: 1 1 10%;
  max-width: 10%;
}
.col-3 {
  flex: 1 1 33.333%;
  max-width: 33.333%;
}
.col-4 {
  flex: 1 1 25%;
  max-width: 25%;
}
