<div class="container">
  <div class="content">
    <div class="col">
      <h2 class="title">
        Сериалы:
      </h2>
    </div>
    <div class="col-3">
      <app-card
        title="Офис"
        years="2005 – 2013"
        description="Скучающие от безделья клерки пытаются ужиться с ...и"
        preview="background-image: url(https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/7bbd225f-e6db-4326-b600-1ac294cf9d99/600x900);"
      ></app-card>
    </div>
    <div class="col-3">
      <app-card
        title="Чем мы заняты в тени"
        years="2016"
        description="Сварливые вампиры с трудом уживаются в одном доме...."
        preview="background-image: url(https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/27f98b45-6773-4209-a94b-7c021e45b523/600x900);"
      ></app-card>
    </div>
    <div class="col-3">
      <app-card
        title="Секретные материалы"
        years="1993 – 2018"
        description="Агенты ФБР сталкиваются со сверхъестественным...."
        preview="background-image: url(https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/3d1c84c2-bac2-4451-b617-4a9bc72164a1/600x900);"
      ></app-card>
    </div>
  </div>
</div>
