.card-wrap {
  padding: 10px;
}
.card-content {
  background-size: cover;
  background-position: top center;
  background-color: #f1f3f5;
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 22px;
}
.card-info {
  padding: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 22px 22px 0 0;
  background-color: #f5f3db;
}
.card-info-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}
.card-info-years {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 4px;
}
.card-info-desc {
  font-size: 15px;
  font-weight: 400;
}
