<div class="card-wrap">
  <div class="card-content" [style]=preview>
    <div class="card-info">
      <div class="card-info-title">
        {{title}}
      </div>
      <div class="card-info-years">
        {{years}}
      </div>
      <div class="card-info-desc">
        {{description}}
      </div>
    </div>
  </div>
</div>
