@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f5;
  min-height: 100%;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
app-content {
  flex-grow: 1;
}
.container {
  width: 900px;
  margin: auto;
}
.title {
  margin: 0;
  padding: 10px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
